<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../css/signup.css" rel="stylesheet">
    <link href="../fonts/font_styles.css" rel="stylesheet">
</head>
<body>
<div class="block">
    <div class="content">
        <div class="logo"><a href="main.html"><img th:src="@{images/logo.svg}" alt="logo"></a></div>
        <h1>РЕГИСТРАЦИЯ</h1>
        <div class="line_block">
            <img th:src="@{images/user.svg}" alt="user">
            <input type="text" id="signup_id" placeholder="Придумайте логин">
        </div>
        <div class="line_block">
            <img th:src="@{images/password.svg}" alt="password">
            <input type="password" id="password_id" placeholder="Придумайте пароль">
        </div>
        <div class="line_block">
            <img th:src="@{images/password.svg}" alt="password">
            <input type="password" id="repassword_id" placeholder="Повторите еще раз">
        </div>
        <div class="container">
            <div class="but_rem"><div class="but">
                <input type="button" value="Зарегистрироваться" id="but_signup_id"/>
            </div>
                <div class="rem_pas">
                    <a href="login_page.html"><span>Уже зарегистрированы?</span></a>
                </div></div>
        </div>
    </div>
</div>
</body>
</html>